@model DomainModel.Manager

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Person</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OfficeName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OfficeName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsJunior)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsJunior)
        </dd>
        @if(Model.MyManager != null)
        { 
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.MyManager)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MyManager.LastName) @Html.DisplayFor(model => model.MyManager.FirstName)
            </dd>
        }
        @if (Model.MyEmployees.Count != 0)
        {
            for (int i = 0; i < Model.MyEmployees.Count; i++)
            {
                <dt class="col-sm-2">
                    Employe @(i + 1) :
                </dt>
                <dd class="col-sm-10">
                    @{string url = "https://localhost:44308/Employees/Details/" + Model.MyEmployees[i].Id;}
                    <a href=@url>@Html.DisplayFor(model => model.MyEmployees[i].LastName) @Html.DisplayFor(model => model.MyEmployees[i].FirstName)</a>
                </dd>
            }
         }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
