@model DomainModel.Deposit

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Account</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BankCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BankCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BranchCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BranchCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Key)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Key)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BBAN)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BBAN)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IBAN)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IBAN)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BIC)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BIC)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Balance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Balance)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DepositCards)
        </dt>
        @if (Model.DepositCards.Count != 0)
        {
            for (int i = 0; i < Model.DepositCards.Count; i++)
            {
                <dd class="col-sm-10">
                    @{string url2 = "https://localhost:44308/" + Model.DepositCards[i].GetType().ToString().Substring(12) + "s/Details/" + Model.DepositCards[i].CardId;}
                    @Model.DepositCards[i].GetType().ToString().Substring(12) n° : <a href=@url2>@Html.DisplayFor(model => model.DepositCards[i].CardNumber)</a>
                </dd>
            }
        }
    </dl>
    <p>
        <a asp-action="CreateNewCard" asp-area="" asp-controller="Deposits" asp-route-id="@Model.AccountId">Create New Card</a>
    </p>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AccountId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
